extend ./common/layout.jade
block head
  title 土冒品牌部管理系统
block content
  h2.text-center
    small 欢迎登陆土冒品牌部管理系统 #{user.nickname}
    p.text-center: img(src='/images/code.jpg')
    p.text-center
      | 测试环境请加测试账号
      br
      img(src='/images/code-test.png')

